{%include 'pages/head.html'%}
<body>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    {%include 'pages/navbar.html' %}
    <div class="container">
        <div class="page-header"><h4>Client Charge Console</h4></div>
        <div class="row">
            <div class='span4' id='chargebody'>

                {% if charge %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p class="title"><strong>Success!</strong></p>
                    <p>{{customer}} has been successfully charged <b>${{amount}}</b>!</p>
                    <p><a href="https://manage.stripe.com/#dashboard" target="_blank" class="btn btn-primary btn-large">Go to the Stripe Dashboard</a></p></div>
                {%else %}
                {% if error %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p class="title"><strong>Error!</strong></p>
                    <p>{{error}}</p>
                </div>
                {%endif %}
                <form action="" method="POST" id="payment-form"> {%csrf_token%}
                    <div class="form-row">
                        <label>Project/Charge Description</label>
                        <input type="text" size="4" name="description" autocomplete="off" placeholder="For invoice and billing" />
                    </div>
                    <div class="form-row">
                        <label>Customer Name</label>
                        <input type="text" size="4" name="customername" autocomplete="off" placeholder="Full name" />
                    </div>
                    <div class="form-row">
                        <label>Customer Email</label>
                        <input type="text" size="4" name="email" autocomplete="off" placeholder="For invoice (not required)" />
                    </div>
                    <div class="form-row">
                        <label>Amount</label>
                        <input type="text" size="20" name="amount" autocomplete="off" placeholder="20.12" />
                    </div>
                    <div class="form-row">
                        <label>Card Number</label>
                        <input type="text" class="cc-number" x-autocompletetype="cc-number" placeholder="Card number" required>
                    </div>
                    <div class="form-row">
                        <label>CVC</label>
                         <input type="text" class="cc-cvc" pattern="\d*" x-autocompletetype="cc-csc" placeholder="Security code" required maxlength="4" autocomplete="off">
                    </div>
                    <div class="form-row">
                        <label>Expiration (MM/YYYY)</label>
                        <input type="text" class="cc-exp" x-autocompletetype="cc-exp" placeholder="Expires MM/YY" required maxlength="9">
                    </div>
                    <button type="submit" class="btn btn-primary submit-button">Submit Payment</button>
                </form>
                {%endif%}
            </div>
        </div>
    </div>
    <hr>
    {% include 'pages/footer.html'%}
    {% include 'pages/scripts.html'%}
    <script type="text/javascript" src="/js/vendor/jquery.payment.js"></script>
    <script type="text/javascript">
        // this identifies your website in the createToken call below
    Stripe.setPublishableKey('{{STRIPE_PUBLISHABLE_KEY}}');

    function stripeResponseHandler(status, response) {
        if (response.error) {
            // re-enable the submit button
            $('.submit-button').removeAttr("disabled");
            // show the errors on the form
            $('#paymenterror').remove();
            $('<div id="paymenterror" class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button><p class="title"><strong>Error!</strong></p><p class="payment-error">'+response.error.message+'</p></div>').prependTo('#chargebody');
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
            // and submit
            form$.get(0).submit();
        }
    }

    $(document).ready(function() {

            $('.cc-number').payment('formatCardNumber');
            $('.cc-exp').payment('formatCardExpiry');
            $('.cc-cvc').payment('formatCardCVC');

            $("#payment-form").submit(function(event) {
                // disable the submit button to prevent repeated clicks
                $('.submit-button').attr("disabled", "disabled");

                var expiry = $('.cc-exp').payment("cardExpiryVal")
                var expiry = $('.cc-exp').payment("cardExpiryVal")

                Stripe.createToken({
number: $('.cc-number').val(),
cvc: $('.cc-cvc').val(),
exp_month: expiry.month,
exp_year:expiry.year 
}, stripeResponseHandler);

                // prevent the form from submitting with the default action
                return false;
                });
            });

    </script>

</body>
</html>
