{%include 'pages/head.html'%}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        {%include 'pages/navbar.html' %}

        <div class="jumbotron masthead" style='position:relative; box-sixing:border-box' >
            <div class='background' style="background-image:url(/img/gallery/front11.jpg); background-position-y:-200px" ></div>
            <div class='background' style="background-image:url(/img/gallery/front9.jpg); background-position-y:-200px"></div>
            <div class='background' style="background-image:url(/img/gallery/front6.jpg); background-position-y:-60px"></div>
            <div class='background' style="background-image:url(/img/gallery/front1.jpg);"></div>
            <div class='background' style="background-image:url(/img/gallery/front10.jpg); background-position-y:-200px" ></div>
            <div class='background' style="background-image:url(/img/gallery/front2.jpg); background-position-y:-200px"></div>
            <div class='background' style="background-image:url(/img/gallery/front5.jpg); background-position-y:-200px"></div>
            <div class='background' style="background-image:url(/img/gallery/front8.jpg); background-position-y:-200px"></div>
            <div class='background' style="background-image:url(/img/gallery/front3.jpg);"></div>
            <div class="container">
                <h2>Siva Microbiological Solutions LLC.</h2>
                <p>Siva is the one-stop lab for microbiological testing. We are a team of industry experts who solve microbial problems in the paint, coatings and building products market.</p>
                <p><a href="/about" class="btn btn-primary btn-large"><b>Learn More</b></a></p>
            </div>
        </div>

        <div class="container">



        </div> <!-- /container -->
        <hr>
        {% include 'pages/footer.html'%}
        
        {% include 'pages/scripts.html'%}

        <script>
            $('#myCarousel').carousel();
            $(function() {$('.jumbotron.masthead .background').bgfader();});
        </script>
    </body>
</html>
