{%include 'pages/head.html'%}
    <body> 
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        {%include 'pages/navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="span12" style='margin-top:-30px'>
                    <section>
                        <div class="page-header">
                            <h2>Publications</h2>
                            <h5>Publications Relevant to the Coatings and Building Products Industry</h5>
                        </div>
                        <ol class="publist">
                            <li><a target="_blank" href="http://www.prnewswire.com/news-releases/eco-building-products-successfully-completes-an-in-depth-series-of-mold-and-microbial-contamination-studies-155900535.html">PR Newswire 2012: ECOB and Siva Microbiological Solutions, LLC Complete Six Months of Studies Based on ASTM D5590 and D3273 Industry Standard Test Methodologies</a></li>
                            <li><a href="http://www.pcimag.com/articles/antimicrobial-coatings-1?v=preview" target="_blank"><b>Sadasivan, L</b> 2010 Antimicrobial Coatings in Paints and Coatings Magazine, July 2010.</a></li>
                            <li><b>Sadasivan, L</b> and A. Hernandez 2009 Antibacterial Evaluation of Latex Paints by JIS 2801 Test Method Coatings Tech Conference scheduled for April 28-29 in Indianapolis [Accepted for Presentation]</li>
                            <li><b>Sadasivan, L</b> 2009 Manual on Material Preservation and Biocides for Painting and Decorating Contractors of America: A Web-Based Training Module for members of PACE Education Program in collaboration with Paint Quality Institute. [Drafted for PQI]</li>
                            <li><a target="_blank" href="http://www.specialchem4coatings.com/resources/articles/article.aspx?id=11224&lr=mci09196&li=20017279"><b>Sadasivan, L</b> 2009 Evaluating Mildew Resistance of Interior Paints published in Specialty Chemicals Coatings and Ink Formulation Bulleting Edition 196 as the MOST POPULAR ARTICLE of the Week (May 6th)</a></li>
                            <li><a target="_blank" href="http://www.sivamicrobialsolutions.com/publications/Interior_mold_paper_lakshmi.pdf"><b>Sadasivan, L</b> 2009 Evaluating Mildew Resistance of Interior Paints in Paints and Coatings Magazine, April 2009, vol. 25, #4, 36-39</a></li>
                            <li><b>Sadasivan, L</b> 2009 Evaluating Mildew Resistance of Interior Paints in <i>Pitture e Vernici-European Coatings, Vol. 85, No.2, 27-31. [Presented at the American Coatings Conference, held at Charlotte, NC]</i></li>
                            <li><b>Sadasivan, L</b> 2008 Invited speaker on Role of Mildewcide in Yellow Discoloration of Latex Paints at <i>Philadelphia Coatings Society Symposium on Green Chemistry and its Effect on waterborne Industrial and Architectural Coatings, May 6-8</i></li>
                            <li><a target="_blank" href="/publications/CT_sadasivan_mar07.pdf"><b>Sadasivan, L</b> R. Montemayor and J Varner 2007. Role of Mildewcide in Yellow Discoloration of Latex Paints, <i>Journal of Coatings Technology, 42-48</i></a></li>
                            <li><a href="http://www.pcimag.com/Articles/Cover_Story/430c3548fa6a7010VgnVCM100000f932a8c0____" target="blank"><b>Sadasivan, L</b> and U. Gandhi 2003. A two-for-one: biocide for latex coatings: provides effective in-can and dry film preservation. <i>Paint and Coating Industry Magazine</i></a></li>
                            <li><b>Sadasivan, L</b> and U. Gandhi 2001 Colorant Induced discoloration of Latex Paints. <i>Journal of Coatings Technology, Vol. 73, No. 920, 81-86</i></li>
                            <li><b>Sadasivan, L</b> 1998 Letter to the Editor, Paints and Coatings Industry Magazine on the article on Evaluating Test Procedures that Assess Film Mildewcides (Fungicide) and Algicide Performance</li>
                            <li><b>Sadasivan, L</b> and J.S. Hinkle, 1993. Extracellular Production of Cellulase enzymes by Bacillus isolates from spoiled paints, Proceedings of the 9th International Biodeterioration Society Symposium Meeting held at University of Leeds, England.</li>
                        </ol>
                    </section>
                </div> 
            </div>
        </div>
