{%include 'pages/head.html'%}
    <body data-spy="scroll">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        {%include 'pages/navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="span12" style='margin-top:-30px'>
                    <section id="sms">
                        <div class="page-header">
                            <h2>Services</h2>
                            <h6>A detailed description of services and methods is coming soon.</h6>
                        </div>
                        <div><a target="_blank" href="/brochure.pdf">For now, please view our brochure</a></div>
                    </section>
                </div>
            </div>
        </div>
