

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.photogallery img {
    width: 100px; 
    height: 100px;
}

.brand {
    height: 35px;
    margin-top: -6px;
}

.jumbotron.masthead .background {
    background-repeat: no-repeat;
}

.jumbotron .container {
    background: rgba(0,0,0,.3)
}

.publist li {
    margin-bottom:20px;
}












