{%include 'head.html'%}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        {%include 'navbar.html' %}

        <div class="container">

            <!-- Example row of columns -->
            <div class="row">
                <div class="span8 offset2">
                    <div class="page-header">
                        <h2>About Siva Microbiological Solutions LLC.</h2>
                    </div>
                    <p><img style='float:left; margin-right:15px' src='http://c9080428282cc84e15fd-3330d2fc9452085a180b4c71c3fef900.r56.cf2.rackcdn.com/360__Bridge_Business_Center_Laboratories.jpeg'></img><span>Siva Microbiological Solutions, LLC is located in a new facility established in the Keystone Innovation Zone in Bucks County at 360 George Patterson Blvd, Research and Development Business Park, Bristol , PA 19007. Our new facility is furnished with state of the art equipment needed for evaluating microbial problems, including stereo and phase contrast microscopes, leaching equipment, incubators, humidity cabinets, algae growth chambers, etc.</span></p>
                    <p>Scientists in our group have a long history and combined experiences of over 75 years studying, researching and working on biological and chemical systems including Botany, Mycology (Fungi), Phycology (algae), Microbiology, Organic Chemistry, Biochemistry and Molecular Biology and have extensive industry experience in microbiology of materials, paints, coatings, consumer products, wood, plastics etc. and in molecular biology with expertise in PCR technology for molecular diagnostic applications.</p>

                    <p>SivaMS has teamed up with New Jersey based NCS Pharmaceuticals, a Contract Research Organization (CRO) which has expertise in a wide range of analytical techniques across both the pharmaceutical and specialty chemicals areas. Dr. Jeffery Hinkle, Ph.D., MBA, responsible for business development at NCS, has graciously agreed to serve as the senior business and technical consultant for SivaMS. Dr. Hinkle and Dr. Lakshmi Sadasivan were former colleagues at Hüls America working on microbial problems of paints and coatings, as well as biocides discovery and evaluation programs. Dr. Hinkle was previously chairman of the ASTM D01-28 subcommittee on Bio deterioration of paints and coatings for several years. Together, Lakshmi and Jeff have worked on the development of, and participated in round robin evaluations for, several new and improved standard test methods such as <b>ASTM D-5590, ASTM D-5589, ASTM D-5588, ASTM D-2574, and ASTM D-3273.</b></p>
                     
                    <p>Now by teaming together, the outstanding combination of NCS and SivaMS brings extensive knowledge and expertise of microbiology, coatings, colorants and analytical capabilities to serve the market excellently. We look forward to partnering with you to solve your problems and meet your needs!</p>
                    
                    <p><a class="btn btn-primary" href="/contact">Contact Us! &raquo;</a></p>
                </div>
            </div>

            <hr>

            {% include 'footer.html'%}

        </div> <!-- /container -->

        {% include 'scripts.html'%}

    </body>
</html>
